[Desktop Entry]
Categories=Application;Office
Comment=A Companyserv client for Linux
Comment[en_US]=A Companyserv client for Linux
DocPath=index.html
Exec=companylog
GenericName=
GenericName[en_US]=
Icon=companylog.png
MimeType=
MiniIcon=companylog.png
Name=Companylog 1.8
Name[en_US]=Companylog 1.8
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
