/cs_projekte/KLib/01Base/bin/Debug
/cs_projekte/WpfTemplates/01WpfOnly/bin
/cs_projekte/WpfTemplates/01WpfOnly/obj
/cs_projekte/KLib/01Base/bin
/cs_projekte/KLib/01Base/obj
/cs_projekte/KLib/02Net/obj
/cs_projekte/KLib/02Net/bin
/cs_projekte/KLib/02Sql/obj
/cs_projekte/KLib/02Sql/bin
/cs_projekte/KLib/05ToolsForms/obj
/cs_projekte/KLib/05ToolsForms/bin
/cs_projekte/KLib/05ToolsWPF/obj
/cs_projekte/KLib/05ToolsWPF/bin
/cs_projekte/KLib/.vs/
/c-tools/ConColor/Debug
/c-tools/ConColor/Release
/c-tools/Debug
/c-tools/Release
/c-tools/mylib/Debug
/c-tools/mylib/Release
/c-tools/sTimer/Debug
/c-tools/ssleep/Debug
/c-tools/ssleep/Release
/c-tools/xd/Debug
/c-tools/xd/Release
*.suo
*.sdf
*.user
