/cs_projekte/KLib/01Base/bin/Debug
/cs_projekte/WpfTemplates/01WpfOnly/bin
/cs_projekte/WpfTemplates/01WpfOnly/obj
/cs_projekte/KLib/01Base/bin
/cs_projekte/KLib/01Base/obj
/cs_projekte/KLib/02Net/obj
/cs_projekte/KLib/02Net/bin
/cs_projekte/KLib/02Sql/obj
/cs_projekte/KLib/02Sql/bin
/cs_projekte/KLib/05ToolsForms/obj
/cs_projekte/KLib/05ToolsForms/bin
/cs_projekte/KLib/05ToolsWPF/obj
/cs_projekte/KLib/05ToolsWPF/bin
/cs_projekte/KLib/.vs/
/c-tools/ConColor/Debug
/c-tools/ConColor/Release
/c-tools/Debug
/c-tools/Release
/c-tools/mylib/Debug
/c-tools/mylib/Release
/c-tools/sTimer/Debug
/c-tools/ssleep/Debug
/c-tools/ssleep/Release
/c-tools/xd/Debug
/c-tools/xd/Release
*.suo
*.sdf
*.user
cs_projekte/KnkTools/.vs/
cs_projekte/KnkTools/Base/bin/
cs_projekte/KnkTools/Base/obj/
cs_projekte/KnkTools/GuiWPF/bin/
cs_projekte/KnkTools/GuiWPF/obj/
cs_projekte/KnkTools/packages/
cs_projekte/KnkTools/TestWpf/bin/
cs_projekte/KnkTools/TestWpf/obj/
cs_projekte/KnkTools/UnitTest_Base/bin/
cs_projekte/KnkTools/UnitTest_Base/obj/
cs_projekte/KnkTools/Base.NET/bin/
cs_projekte/KnkTools/Base.NET/obj/
