*.suo
*.sdf
*.user
.vs/
bin/
obj/
debug/
release/
packages/

# web/angular stuff
/dist
/tmp
/out-tsc
/node_modules
/.angular/cache
/.sass-cache

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# rider
.idea

# misc
