<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="simpleConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <appSettings>
    <add key="apptype" value="terminal"/> <!-- terminal|pc-->
  </appSettings>

  <connectionStrings>
    <add name="simpleConfiguration.Properties.Settings.db" connectionString="Server=127.0.0.1;Port=5432;Database=kuktest;User Id=kuk;Password=kuk;Pooling=true;" />
  </connectionStrings>
  

  <applicationSettings>
    <simpleConfiguration.Properties.Settings>
      <setting name="apptype" serializeAs="String">
        <value>pc</value>
      </setting>
    </simpleConfiguration.Properties.Settings>
  </applicationSettings>
</configuration>