<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="testDBTools.Properties.Settings.databaseERDE" connectionString="Server=127.0.0.1;Port=5432;Database=testdb;User Id=kuk;Password=kuk;Pooling=true;" />
    <add name="testDBTools.Properties.Settings.databasePG_BTA" connectionString="Server=127.0.0.1;Port=7000;Database=kuk_test;User Id=kuk;Password=kuk;Pooling=true;" />
    <add name="testDBTools.Properties.Settings.databaseAxavia" connectionString="Server=axavia;Database=BT_ZETS;User Id=axavia;Password=Axavia#2011;Pooling=true;" />
  </connectionStrings>
</configuration>