<!-- 
= Template und Dokumentation zur Verwendung des log4net Logging Frameworks
= Verwendung:
 (0) Im Projekt Verweis auf log4net dazugeben (oder einfach nuget Paket installieren)
 (1) Dieses Template ins binary Verzeichnis als "log4net.config" kopieren und ggf. anpassen
	oder besser: In die sourcen kopieren, ins Projekt aufnehmen und bei den Eigenschafte angeben,
	dass die Datei beim build ins Ausgabeverzeichnis kopiert werden soll.
 (2) Im Code irgendwo ganz auszerhalb von namespace und Klassen einfuegen:
	[assembly: log4net.Config.XmlConfigurator(ConfigFile = "log4net.config", Watch = true)]
 (3) In Klassen, wo geloggt werden soll, folgende Zeile einfuegen:
 	private static readonly log4net.ILog Log = log4net.LogManager.GetLogger(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType);
 (4) Danach loggen etwa mit:
	Log.Info("blabla...");
 -->
 
 <configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<log4net>
	
		<root>
			<level value="ALL"/>
			<appender-ref ref="FileAppender"/> <!-- logfile -->
			<appender-ref ref="ConsoleAppender"/> <!-- schreibt ins Ausgabefenster beim debuggen! -->
		</root>
	
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="logfile.txt" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
	<!-- 		<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
	 -->	
		</appender>		
		
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} []%thread] %level %logger - %message%newline"/>
			</layout>
<!-- 			<filter type="log4net.Filter.StringMatchFilter">
				<stringToMatch value="test" />
			</filter> -->
			<!-- <filter type="log4net.Filter.DenyAllFilter" /> -->
		</appender>		
	
<!-- 		<logger>
		  <level />
		  <appender-ref />
		</logger>
 -->
	</log4net>
</configuration>