<!-- 
 Verwendung:
 (1) Dieses Template ins binary Verzeichnis als "database.config" kopieren und ggf. anpassen
	
 Moeglice Typen (Attribut: type):
	Postgres
	SQLite
	SqlServer
	MySql

 -->
 
 <configuration>

	<database name="sqlite1" type="SQLite">
		Data Source=[DATENBANKDATEI];Version=3;FailIfMissing=True;
	</database>

	<database name="postgres1" type="postgres">
		Server=localhost;Port=5432;User Id=[USER];Password=[PASS];Database=[DATABASE];Pooling=true;
	</database>

	<database name="mssql1" type="sqlserver">
		Server=localhost,1433;User Id=[USER];Password=[PASS];Database=[DATABASE];Pooling=true;Connection Timeout=5;
	</database>

	<database name="mysql1" type="mysql">
		Server=localhost;Port=3306;User Id=[USER];Password=[PASS];Database=[DATABASE];Pooling=true;
	</database>
	
</configuration>